@media(max-width: 1024px){ 
    /*  funçao media: (obs: width = comprimento
    de 1024 pra baixo ele aplica oq estiver  aqui. As regras sao adicionadas, as regras anteriores ainda valem.
    Se usar o min-width, ocorre o contrario. de 1024 pra cima eh aplicado  */

    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 5px 0px;
        gap: 15px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .totulo{
        font-size: 40px;
    }

    .compre-ja .cartao{
        width: 70%;
    }

}

@media (max-width: 768px){/* tamanho de tablet*/
    .compre-ja{
        padding: 30px;
    }
    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }

    .compre-ja .informacoes .plataformas{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
    }

    .btn-comprar{
        width: 100%;
    }
}